.views-row:not(:last-child) .article_teaser {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray-light);
}

.article_teaser img {
    width: 100%;
    transition: opacity .3s ease-in-out;
}

.article_teaser img:hover {
    opacity: .85;
}

.article_teaser .post_title {
    font-size: 21px;
    margin-bottom: 0;
    color: var(--dark-color);
    font-weight: 500;
    transition: .3s ease-in-out;
}

.article_teaser .post_title:hover {
    color: var(--green-color);
}

.article_teaser .date {
    font-size: 11px;
    color: var(--gray-color);
    display: inline-flex;
    align-items: center;
}

.article_teaser .date svg {
    margin-right: 5px;
}

.article_teaser .sumary {
    font-size: 14px;
    color: var(--gray-drak);
    line-height: normal;
}

.article_teaser .link {
    font-size: 14px;
    color: var(--green-color);
    text-transform: capitalize;
    margin-top: 9px;
    display: inline-block;
    border-bottom: 1px solid var(--gray-light);
}