@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-Thin.ttf');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-Italic.ttf');
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-Black.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: NotoSans;
    src: url('../fonts/NotoSans/NotoSansDisplay-BlackItalic.ttf');
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}

@import url('https://fonts.googleapis.com/css2?family=&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* font-family: NotoSans; */
    font-family: 'Raleway', sans-serif;
}
