<div class="container">
    <div class="logo"><img src="{{ logo }}" alt="nhareivew" height="50" width="250"></div>
    <div class="menu_footer">
        {{ drupal_menu('main') }}
    </div>
</div>
<div class="copyright">
    <div class="container">
        Copyright text 2021 by <a href="{{ url('<front>') }}">NhaRivew</a>
    </div>
</div>
