<div class="main_header">
    <div class="container">
        <div class="logo">
            <a href="{{ url('<front>') }}"><img src="{{ url('<front>') }}/themes/nhareview/LOGO.png" alt="Nhà review" height="40"></a>
        </div>
        <div class="main_menu">
            {{ drupal_menu('main') }}
        </div>
    </div>
</div>